.table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border: 1px solid rgb(220, 220, 220);
  height: 40px;
}

.mat-mdc-header-row .mat-mdc-header-cell {
  border: 1px solid rgb(220, 220, 220);
  height: 40px;
}

.mat-mdc-header-row {
  background-color: rgb(244, 244, 244);
  font-weight: bold;
  height: 40px;
}

.mat-mdc-row {
  background-color: white;
  height: 40px;
}
