.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: violet;

  width: 100%;
  height: 100%;
}

.nav {
  height: 100%;
  background-color: rgb(250, 250, 250);
}

.pages {
  height: 100%;
  width: 100%;
  background-color: white;
}
