.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination-container div {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-info {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: #ccc;
}

.active {
  background-color: #007bff;
  color: white;
}
