.navbar {
  width: 200px;
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  padding: 10px;
  background-color: rgb(250, 250, 250);
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.active-link {
  color: steelblue;
}
